/* Default React Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  Items Table Styles */
.itemsTitle {
  text-decoration: underline;
  font-size: calc(10px + 3vmin);
}

table {
  border: 2px solid black;
  width: 95%;
  margin: 30px;
}

td {
  text-align: center;
}

/*    Button Styles    */
.refreshItems, .addItem, .changeItemButton {
  border: black 2px outset;
  border-radius: 5px;
  margin-right: 20px;
  padding: 3px;
  cursor: pointer;
  font-family: "Gill Sans MT", sans-serif;
  font-size: calc(10px + 1vmin);
}
.refreshItems:hover, .addItem:hover, .changeItemButton:hover {
  border: black 1px outset;
}

.refreshItems:active, .addItem:active, .changeItemButton:active {
  border: black 2px inset;
}

.editItem {
  border: black 2px outset;
  font-family: "Gill Sans MT", sans-serif;
  cursor: pointer;
}

.editItem:hover {
  border: black 1px inset;
}

.editItem:active {
  border: black 2px outset;
}


/* New Item Form Styles */

.popup-content {
  border: 2px solid black;
  border-radius: 15px;
  width: 600px;
  height: 600px;
  background-color: white;
}
.popup-content form {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
.popup-content input, select {
  margin: 20px 10px;
}
.popup-content select {
  width: 20%;
}
.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.newItemBox h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans MT", sans-serif;
}


